{% extends 'components/minimal-navbar.html' %}

{% block more_navbar_space %}
  <a class="" href="{{ url_for('pages.home') }}">Home</a>
  <a class="" href="{{ url_for('pages.about') }}">About</a>
  <a class="" href="{{ url_for('pages.secret') }}">Secret</a>

  {% if current_user.is_authenticated() %}
  <div class="">
    {{ current_user.username }}
    <div class="">
      <a class="" href="{{ url_for('users.logout') }}">Logout</a>
    </div>
  </div>
  {% else %}
  <div class="">
    <a class="" href="{{ url_for('users.login') }}">Login</a>
    <a class="" href="{{ url_for('users.register') }}">Signup</a>
  </div>
  {% endif %}
{% endblock %}