{% extends 'layouts/form.html' %}
{% block title %}Forgot password{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Reset password <a href="{{ url_for('pages.home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.hidden_tag() }}
    {{ form.email(class_ = 'form-control first-input last-input', placeholder = form.email.label.text, required = true, autofocus = true) }}

    <input type="submit" value="Email reset link" class="btn btn-primary btn-lg btn-block">

    <div class="form-footer">
    	<p class="pull-left"><a href="{{ url_for('users.login') }}">Log in</a></p>
    	<p class="pull-right"><a href="{{ url_for('users.register') }}">Sign up</a></p>
    </div>
  </form>
{% endblock %}
