{% extends 'layouts/form.html' %}
{% block title %}Forgot password{% endblock %}
{% block content %}
  <form method="post">
    <h3>Reset password - <a href="{{ url_for('pages.home') }}">Home</a></h3>
    {{ form.hidden_tag() }}
    {{ form.email(class_ = 'first-input last-input', placeholder = form.email.label.text, required = true, autofocus = true) }}

    <input type="submit" value="Email reset link">

    <div>
    	<p><a href="{{ url_for('users.login') }}">Log in</a></p>
    	<p><a href="{{ url_for('users.register') }}">Sign up</a></p>
    </div>
  </form>
{% endblock %}
