{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Log in <a href="{{ url_for('pages.home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

    <a class="twitter-btn btn btn-default btn-lg btn-block" href="{{ url_for('users.twitter_login') }}"><i class="fa fa-twitter"></i> Log in with Twitter</a>

    <div class="word-divider"><div class="word-divider-divider"></div><div class="word-divider-word">or</div></div>

    {{ form.hidden_tag() }}
    {{ form.username(class_ = 'form-control first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}

    <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block">

    <div class="form-footer">
	    <p class="pull-left"><a href="{{ url_for('users.forgot_password') }}">Forgot your password?</a></p>
	    <p class="pull-right"><a href="{{ url_for('users.register') }}">Sign up</a></p>
	</div>
  </form>
{% endblock %}
