{% extends 'layouts/form.html' %}

{% block title %}Log in to fboil{% endblock %}

{% block form_header %}Log in{% endblock %}

{% block content %}
  <a href="{{ url_for('users.twitter_login') }}" class="ui large fluid twitter button field">
    <i class="twitter icon"></i>
    Log in with Twitter
  </a>

  <div class="ui horizontal divider">
    Or
  </div>

  {{ form.hidden_tag() }}

  <div class="ui field">
    {{ form.username(placeholder = form.username.label.text, required = true, autofocus = true) }}
  </div>

  <div class="ui field">
    {{ form.password(placeholder = form.password.label.text, required = true) }}
  </div>

  <input class="ui fluid large olive submit button" type="submit" value="Log in">
{% endblock %}

{% block form_footer %}
    <div class="ui message">
      <p><a href="{{ url_for('users.forgot_password') }}">Forgot your password?</a></p>
      <p><a href="{{ url_for('users.register') }}">Sign up</a></p>
    </div>
{% endblock %}
