{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3>Log in - <a href="{{ url_for('pages.home') }}">Home</a></h3>

    <p>
      <a href="{{ url_for('users.twitter_login') }}">Log in with Twitter</a>
    </p>

    {{ form.hidden_tag() }}
    {{ form.username(class_ = 'first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'last-input', placeholder = form.password.label.text, required = true) }}

    <input type="submit" value="Log in">

    <div>
	    <p><a href="{{ url_for('users.forgot_password') }}">Forgot your password?</a></p>
	    <p><a href="{{ url_for('users.register') }}">Sign up</a></p>
	  </div>

  </form>
{% endblock %}
