{% extends 'layouts/form.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3>Sign up - <a href="{{ url_for('pages.home') }}">Home</a></h3>

    <p>
      <a href="{{ url_for('users.twitter_login') }}">Sign up with Twitter</a>
    </p>

    {{ form.hidden_tag() }}
    {{ form.username(class_ = 'first-input', placeholder = form.username.label.text, required = true, autofocus = true) }}
    {{ form.email(placeholder = form.email.label.text, required = true) }}
    {{ form.password(placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'last-input', placeholder = form.confirm.label.text, required = true) }}
    <input type="submit" value="Sign up">

    <div>
      <p>Already have an account? <a href="{{ url_for('users.login') }}">Log in</a></p>
    </div>
  </form>
{% endblock %}
