{% extends 'layouts/form.html' %}
{% block title %}New password{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3>Password reset - <a href="{{ url_for('pages.home') }}">Home</a></h3>
    {{ form.hidden_tag() }}
    {{ form.password(class_ = 'first-input', placeholder = form.password.label.text, required = true, autofocus = true) }}
    {{ form.confirm(class_ = 'last-input', placeholder = form.confirm.label.text, required = true) }}
    <input type="submit" value="Submit">
  </form>
{% endblock %}
