{% extends 'layouts/form.html' %}

{% block title %}New password{% endblock %}

{% block form_header %}Password reset{% endblock %}

{% block form_guts %}
    {{ form.hidden_tag() }}

    <div class="ui field">
    	{{ form.password(placeholder = form.password.label.text, required = true, autofocus = true) }}
    </div>

    <div class="ui field">
    	{{ form.confirm(placeholder = form.confirm.label.text, required = true) }}
    </div>

    <input class="ui fluid large olive submit button" type="submit" value="Set password">
{% endblock %}
