{% extends 'layouts/main.html' %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/layout.forms.css') }}" />
{% endblock %}

{% block body_class %}form-only{% endblock %}

{% block navbar %}
  {% include 'components/minimal-navbar.html' %}
{% endblock %}

{% block substance %}
  <div class="ui middle center aligned aligned grid">
    <div class="column">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="ui message">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}


      <h1 class="ui olive header">{% block form_header %}{% endblock %}</h1>

      {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="ui error message">
              {{ error }}
            </div>
        {% endfor %}
      {% endfor %}
      
      <form method="post" class="ui large form">
        <div class="ui stacked segment">
          {% block form_guts %}{% endblock %}
        </div>
      </form>

      {% block form_footer %}{% endblock %}

    </div>
  </div>
{% endblock %}