{% extends 'layouts/main.html' %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/layout.forms.css') }}" />
{% endblock %}

{% block body_class %}form-only{% endblock %}

{% block navbar %}
  {% include 'components/minimal-navbar.html' %}
{% endblock %}

{% block substance %}
  <div class="">
    <div class="">

      <h1 class="">{% block form_header %}{% endblock %}</h1>

      {% for field in form.errors %}
        {% for error in form.errors[field] %}
            <div class="error message">
              {{ error }}
            </div>
        {% endfor %}
      {% endfor %}
      
      <form method="post" class="">
        <div class="">
          {% block form_guts %}{% endblock %}
        </div>
      </form>

      {% block form_footer %}{% endblock %}

    </div>
  </div>
{% endblock %}