<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/layout.main.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.responsive.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.quickfix.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/libs/normalize.css') }}" />
{% block css %}{% endblock %}
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.6.2.min.js"></script>
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.3.0.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body class="{% block body_class %}{% endblock %}">

  {% block navbar %}
    {% include 'components/full-navbar.html' %}
  {% endblock %}

  <!-- #wrap -->
  <div id="wrap">

    <!-- #content -->
    <main id="content" role="main">

      
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="">
            {% for message in messages %}
              <div class="message">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block substance %}{% endblock %}

    </main> <!-- / #content -->

  </div> <!-- / #wrap -->

  {% block footer %}{% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for("static", filename="js/libs/jquery-1.10.2.min.js") }}"><\/script>')</script>
  <script defer src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
  <!-- FBOIL-TODO: Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>

</body>
</html>
