{% set form=change_password_form %}

{% extends 'layouts/full-navbar-form.html' %}

{% block title %}Change password{% endblock %}

{% block form_header %}Change password{% endblock %}  

{% block form_guts %}
  {{ form.hidden_tag() }}

  <div class="ui field">
    {{ form.password(placeholder = form.password.label.text, required = true, autofocus = true) }}
  </div>

  <div class="ui field">
    {{ form.new_password(placeholder = form.new_password.label.text, required = true) }}
  </div>

  <div class="ui field">
    {{ form.new_password_confirm(placeholder = form.new_password_confirm.label.text, required = true) }}
  </div>

  <input class="ui fluid large olive submit button" type="submit" value="Log in">
{% endblock %}