{% set form=register_user_form %}

{% extends 'layouts/form.html' %}

{% block title %}Sign up{% endblock %}

{% block form_header %}Sign up{% endblock %}

{% block form_guts %}
  <a href="{{ url_for('users.twitter_login') }}" class="ui large fluid twitter button field">
    <i class="twitter icon"></i>
    Sign up with Twitter
  </a>

  <div class="ui horizontal divider">
    Or
  </div>

  <div class="ui field">
    {{ form.hidden_tag() }}
  </div>

  <div class="ui field">
    {{ form.email(placeholder = form.email.label.text, required = true) }}
  </div>

  <div class="ui field">
    {{ form.password(placeholder = form.password.label.text, required = true) }}
  </div>

  <div class="ui field">
    {{ form.username(placeholder = form.username.label.text, required = true) }}
  </div>

  <input class="ui fluid large olive submit button" type="submit" value="Sign up">
{% endblock %}


{% block form_footer %}
    <div class="ui message">
      Already have an account? <a href="{{ url_for('security.login') }}">Log in</a>
    </div>
{% endblock %}
