{% set form=reset_password_form %}

{% extends 'layouts/form.html' %}

{% block title %}Reset password{% endblock %}

{% block form_header %}Reset password{% endblock %}

{% block form_guts %}
    {{ form.hidden_tag() }}

    <div class="ui field">
    	{{ form.password(placeholder = form.password.label.text, required = true, autofocus = true) }}
    </div>

    <div class="ui field">
    	{{ form.password_confirm(placeholder = form.password_confirm.label.text, required = true) }}
    </div>

    <input class="ui fluid large olive submit button" type="submit" value="Set password">
{% endblock %}
