{% extends 'layouts/text-page.html' %}

{% block title %}About{% endblock %}

{% block header %}About Page{% endblock %}

{% block text %}
	<p>This is just a placeholder page which should be replaced with real content.</p>
	<h2>Mr. Plow</h2>
	<p>Well, he's kind of had it in for me ever since I accidentally ran over his dog. Actually, replace "accidentally" with "repeatedly" and replace "dog" with "son." Marge, just about everything's a sin. Y'ever sat down and read this thing? Technically we're not supposed to go to the bathroom. Human contact: the final frontier. Your guilty consciences may make you vote Democratic, but secretly you all yearn for a Republican president to lower taxes, brutalize criminals, and rule you like a king! I can't go to juvie. They use guys like me as currency. I was saying "Boo-urns."</p>
	<h2>Natural Born Kissers</h2>
	<p>The Internet King? I wonder if he could provide faster nudity&hellip; Aaah! Natural light! Get it off me! Get it off me! I don't like being outdoors, Smithers. For one thing, there's too many fat children. The Internet King? I wonder if he could provide faster nudity&hellip; Books are useless! I only ever read one book, "To Kill A Mockingbird," and it gave me absolutely no insight on how to kill mockingbirds! Sure it taught me not to judge a man by the color of his skin&hellip;but what good does *that* do me?</p>
	<ul>
	<li>Can't you people take the law into your own hands? I mean, we can't be policing the entire city!</li>
	<li>Marge, just about everything's a sin. Y'ever sat down and read this thing? Technically we're not supposed to go to the bathroom.</li>
	<li>Fame was like a drug. But what was even more like a drug were the drugs.</li>
	</ul>
	<h2>Last Exit to Springfield</h2>
	<p>Oh, a *sarcasm* detector. Oh, that's a *really* useful invention! And now, in the spirit of the season: start shopping. And for every dollar of Krusty merchandise you buy, I will be nice to a sick kid. For legal purposes, sick kids may include hookers with a cold. Oh, everything looks bad if you remember it. Save me, Jeebus. Kids, we need to talk for a moment about Krusty Brand Chew Goo Gum Like Substance. We all knew it contained spider eggs, but the hantavirus? That came out of left field. So if you're experiencing numbness and/or comas, send five dollars to antidote, PO box&hellip;</p>
	<h2>Rosebud</h2>
	<p>Can't you people take the law into your own hands? I mean, we can't be policing the entire city! I've done everything the Bible says &mdash; even the stuff that contradicts the other stuff! Oh, everything looks bad if you remember it. Hi. I'm Troy McClure. You may remember me from such self-help tapes as "Smoke Yourself Thin" and "Get Some Confidence, Stupid!"</p>
	<ol>
	<li>Here's to alcohol, the cause of &mdash; and solution to &mdash; all life's problems.</li>
	<li>"Thank the Lord"? That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don't have a place within an organized religion.</li>
	<li>And here I am using my own lungs like a sucker.</li>
	<li>Look out, Itchy! He's Irish!</li>
	<li>I've had it with this school, Skinner. Low test scores, class after class of ugly, ugly children&hellip;</li>
	</ol>
	<h2>Life on the Fast Lane</h2>
	<p>Dear Mr. President, There are too many states nowadays. Please, eliminate three. P.S. I am not a crackpot. "Thank the Lord"? That sounded like a prayer. A prayer in a public school. God has no place within these walls, just like facts don't have a place within an organized religion. I didn't think it was physically possible, but this both sucks *and* blows.</p>
	<h2>Natural Born Kissers</h2>
	<p>Stan Lee never left. I'm afraid his mind is no longer in mint condition. Oh, everything looks bad if you remember it. You don't like your job, you don't strike. You go in every day and do it really half-assed. That's the American way.</p>
{% endblock %}