html,
body {
  height: 100%;
}

#wrap {
  min-height: calc(100% - 40px - 60px);
  margin: -40px auto -60px;
  padding: 40px 0 60px;
}

.navbar {
  height: 40px;
  display: inline-block;
}
.navbar > div {
  display: inline-block;
}

#content {
  margin: 20px 0;
}

.footer {
  height: 60px;
}
