
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

 .twitter-btn {
 	background: #55acee;
 	color: #fff;
 	text-shadow: none;
 	border: none;
 }
 .twitter-btn:hover, .twitter-btn:active, .twitter-btn:focus {
 	background: #449bdd;
 	color: #fff;
 }

/* Various other styles end */
