
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}
code {
  font-size: 80%;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/
.message {
	color: orange;
}
.message.error {
	color: red;
}

.footer {
  background-color: #eee;
}
/* Various other styles end */
